PORT=8080

MONGODB_URI=mongodb://localhost:27017/
DOCKER_MONGODB_URI=mongodb://mongo:27017/
TEST_MONGODB_URI=mongodb://localhost:27017/

REDIS_URI=redis://localhost:6379
DOCKER_REDIS_URI=redis://redis:6379
TEST_REDIS_URI=redis://localhost:6379

SALT=12
JWT_SECRET=cpen_211_zoey_summer_steven_john_super_secret_do_not_share

IMAGE_FOLDER_NAME=UserClothingImages
TEMP_IMAGE_FOLDER_NAME=TempUserClothingImages

NOTIFICATION_PRIORITY=high
NOTIFICATION_LIVE_TIME=86400
WEATHER_UNITS=metric
WEATHER_EXCLUDE=minutely,hourly

WEATHER_API_KEY=16d41b0613b67c5ca0a0eddd85d3ebb7
GEO_API_KEY=591aa62f33ca4ceca2bcf6f7055f70a9
